/* apply a natural box layout model to all elements */
/* line 25, ../sass/main.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 31, ../sass/main.scss */
h1, h2, .detail-name, .directions-name, h3, h4, h5, h6, b, strong {
  font-weight: bold;
}

/* line 34, ../sass/main.scss */
h1 {
  font-size: 1.75em;
}

/* line 35, ../sass/main.scss */
h2, .detail-name, .directions-name {
  font-size: 1.5em;
}

/* line 36, ../sass/main.scss */
h3 {
  font-size: 1.125em;
}

/* line 37, ../sass/main.scss */
h4 {
  font-size: 0.875em;
}

/* line 38, ../sass/main.scss */
h5 {
  font-size: 0.75em;
}

/* line 39, ../sass/main.scss */
h6 {
  font-size: 0.625;
}

/* line 40, ../sass/main.scss */
p {
  font-size: 0.75em;
  padding-bottom: 1.125px;
}

/* line 46, ../sass/main.scss */
html, body {
  height: 100%;
  min-height: 100%;
  width: 95%;
  margin: 0 auto;
}

/* line 56, ../sass/main.scss */
body {
  max-width: 960px;
  margin: 0 auto;
  background-color: #bfe1ed;
  font-size: 16px;
  font-family: futura-pt, Tahoma, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  line-height: 1.15;
}

/* line 70, ../sass/main.scss */
header {
  background-color: white;
  position: relative;
}
/* line 74, ../sass/main.scss */
header h1 {
  padding: .5em 0;
  text-align: center;
}

/* line 80, ../sass/main.scss */
.about-button {
  position: absolute;
  right: .5%;
  top: 20%;
}
/* line 84, ../sass/main.scss */
.about-button a {
  text-decoration: none;
  font-size: 50px;
  color: #fc7e00;
}
/* line 89, ../sass/main.scss */
.about-button a:hover {
  color: #77b827;
}

/* line 95, ../sass/main.scss */
.rainbow-line {
  height: 1em;
  padding: 0;
  margin: 0;
}

/* line 100, ../sass/main.scss */
.accent-color-1 {
  background-color: #f5f549;
}

/* line 101, ../sass/main.scss */
.accent-color-2 {
  background-color: #e63740;
}

/* line 102, ../sass/main.scss */
.accent-color-3 {
  background-color: #60b5d1;
}

/* line 103, ../sass/main.scss */
.accent-color-4 {
  background-color: #91d63c;
}

/* line 104, ../sass/main.scss */
.accent-color-5 {
  background-color: #fc7e00;
}

/* line 106, ../sass/main.scss */
.script {
  font-family: 'Leckerli One', 'cursive';
  font-weight: normal;
  font-size: 1.3em;
}

/* line 111, ../sass/main.scss */
.block {
  font-family: 'Fredericka the Great', 'cursive';
  font-weight: normal;
  font-size: 2em;
}

/* line 120, ../sass/main.scss */
section.search-map {
  height: 100%;
  width: 100%;
}

/* line 125, ../sass/main.scss */
.container-map {
  width: 100%;
  height: 100%;
  overflow: auto;
  border: 0;
  clear: both;
}

/* line 136, ../sass/main.scss */
.search-wrapper {
  overflow: auto;
}
/* line 141, ../sass/main.scss */
.search-wrapper form > label {
  width: 100%;
  font-weight: bold;
}

/* line 148, ../sass/main.scss */
.search-ctrl {
  display: table;
  width: 100%;
}
/* line 152, ../sass/main.scss */
.search-ctrl span {
  display: table-cell;
  width: 100%;
  padding: 0px 5px 0 0;
}
/* line 157, ../sass/main.scss */
.search-ctrl #search {
  width: 100%;
}
/* line 160, ../sass/main.scss */
.search-ctrl #search-submit {
  display: table-cell;
}

/* line 164, ../sass/main.scss */
.category-boxes {
  display: block;
  font-size: .8em;
  background-color: white;
  overflow: auto;
}

/* line 170, ../sass/main.scss */
.category-label a {
  color: black;
}
/* line 172, ../sass/main.scss */
.category-label a:link {
  text-decoration: none;
}

/* line 176, ../sass/main.scss */
.chkbox-item {
  display: block;
  min-width: 100%;
}

/* line 183, ../sass/main.scss */
.info-win {
  min-width: 100px;
  min-height: 50px;
  line-height: 1.5em;
}
/* line 187, ../sass/main.scss */
.info-win a {
  font-weight: bold;
}

/* line 191, ../sass/main.scss */
.content-wrapper {
  height: 55%;
  position: relative;
}

/* line 202, ../sass/main.scss */
.map-wrapper {
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  padding-bottom: 1%;
  position: absolute;
}

/* line 211, ../sass/main.scss */
#map {
  height: 100%;
  width: 100%;
  border: 1px solid #555;
}

/* line 220, ../sass/main.scss */
.results-wrapper {
  display: none;
}

/* line 226, ../sass/main.scss */
ol li, ul li {
  list-style-position: inside;
  padding: 0.4em 0;
}

/* line 230, ../sass/main.scss */
ol li {
  list-style-type: decimal;
}

/* line 231, ../sass/main.scss */
ul li {
  list-style-type: disc;
}

/* line 233, ../sass/main.scss */
.result-list li {
  border-bottom: 2px #fc7e00 solid;
}
/* line 235, ../sass/main.scss */
.result-list li:first-child {
  border-top: 2px #fc7e00 solid;
  margin-top: .25em;
}
/* line 239, ../sass/main.scss */
.result-list li:hover {
  background-color: #60b5d1;
}

/* line 243, ../sass/main.scss */
.result-item {
  position: relative;
  width: 100%;
}

/* line 247, ../sass/main.scss */
.result-cat {
  display: none;
}

/* line 250, ../sass/main.scss */
.result-dist {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: .5em;
  font-size: .9em;
}

/* line 257, ../sass/main.scss */
.result-get-details {
  position: relative;
  left: 1.3em;
  top: .2em;
  font-size: .9em;
  display: inline;
}

/* line 268, ../sass/main.scss */
.details, .directions {
  display: none;
  height: 100%;
}

/* line 276, ../sass/main.scss */
.detail-address, .detail-phone
.directions-address, .directions-phone {
  line-height: 1.5em;
}

/* line 280, ../sass/main.scss */
.detail-page-top {
  height: 40%;
}

/* line 283, ../sass/main.scss */
.detail-mini-map, .directions-mini-map {
  height: 100%;
}

/* line 287, ../sass/main.scss */
#mini-map {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  min-width: 100%;
}

/* line 300, ../sass/main.scss */
.detail-page-bottom {
  height: 40%;
}

/* line 304, ../sass/main.scss */
.detail-tabbed-section {
  margin: 1% 0;
  width: 100%;
  height: 100%;
}

/* line 309, ../sass/main.scss */
.collapsible-section {
  max-height: 100%;
  margin-top: 6px;
  background-color: white;
  border-radius: 5px;
  overflow: auto;
}

/* line 318, ../sass/main.scss */
.collapsible-section > a {
  display: block;
  background-color: #91d63c;
  background: -webkit-linear-gradient(top, #91d63c, #69a322);
  background: -moz-linear-gradient(top, #91d63c, #69a322);
  background: -o-linear-gradient(top, #91d63c, #69a322);
  background: -ms-linear-gradient(top, #91d63c, #69a322);
  background: linear-gradient(top, #91d63c, #69a322);
  padding: .3em .3em;
  border-radius: 5px;
  color: black;
}

/* line 327, ../sass/main.scss */
.collapsible-section > a:link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

/* line 332, ../sass/main.scss */
.section-1 div, .section-2 div, .section-3 div {
  display: none;
}

/* line 335, ../sass/main.scss */
.tab-pane {
  height: 200px;
  padding: 1%;
  overflow: auto;
}

/* line 342, ../sass/main.scss */
.photo {
  float: left;
  margin: 1.5%;
}

/* line 347, ../sass/main.scss */
.review {
  margin-bottom: 1%;
}

/* line 351, ../sass/main.scss */
.hours {
  margin: .6% 0;
}

/* line 354, ../sass/main.scss */
.today {
  font-weight: bold;
}

/* line 357, ../sass/main.scss */
.day {
  width: 10%;
  text-align: right;
  display: inline-block;
  margin-right: 2%;
}

/* line 363, ../sass/main.scss */
.times {
  width: 25%;
  text-align: left;
  display: inline-block;
}

/* line 376, ../sass/main.scss */
.directions-form-wrapper {
  width: 100%;
}

/* line 379, ../sass/main.scss */
#directions-form {
  width: 100%;
}
/* line 381, ../sass/main.scss */
#directions-form label {
  width: 100%;
  font-weight: bold;
}

/* line 387, ../sass/main.scss */
.directions-input-ctrls {
  display: table;
}
/* line 390, ../sass/main.scss */
.directions-input-ctrls span {
  display: table-cell;
  width: 100%;
  padding: 0 10px 0 0;
}
/* line 395, ../sass/main.scss */
.directions-input-ctrls #directions-start {
  width: 100%;
}
/* line 398, ../sass/main.scss */
.directions-input-ctrls #directions-submit {
  display: table-cell;
}

/* line 404, ../sass/main.scss */
.directions-text-panel {
  background-color: white;
}

/* line 408, ../sass/main.scss */
.directions-wrapper {
  height: 100%;
}

/* line 413, ../sass/main.scss */
#directions-map {
  margin: 0 auto;
  height: 80%;
  width: 100%;
}

/* line 423, ../sass/main.scss */
.directions-container {
  height: 100%;
}

/* line 434, ../sass/main.scss */
.button {
  margin: 1em 0;
}
/* line 436, ../sass/main.scss */
.button a {
  background-color: #91d63c;
  background: -webkit-linear-gradient(top, #91d63c, #69a322);
  background: -moz-linear-gradient(top, #91d63c, #69a322);
  background: -o-linear-gradient(top, #91d63c, #69a322);
  background: -ms-linear-gradient(top, #91d63c, #69a322);
  background: linear-gradient(top, #91d63c, #69a322);
  -webkit-border-radius: 2em;
  -khtml-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  text-decoration: none;
  padding: .3em .5em;
  color: black;
  font-weight: bold;
}

/* line 447, ../sass/main.scss */
.arrow-right {
  display: inline-block;
  border-color: transparent black;
  border-style: solid;
  border-width: .4em 0 .4em 0.6928em;
  height: 0px;
  width: 0px;
  margin: 0 5px 0 5px;
}

/* line 456, ../sass/main.scss */
.arrow-down {
  display: inline-block;
  border-color: black transparent;
  border-style: solid;
  border-width: 0.6928em .4em 0 .4em;
  height: 0px;
  width: 0px;
  margin: 0 4px 0 5px;
}

/* line 466, ../sass/main.scss */
span.stars, span.stars span {
  display: block;
  background: url(../images/stars.png) 0 -16px repeat-x;
  width: 80px;
  height: 16px;
}

/* line 473, ../sass/main.scss */
span.stars span {
  background-position: 0 0;
}

/* line 480, ../sass/main.scss */
.container, .directions-container {
  width: 100%;
  border: 0;
  clear: both;
}

/* line 488, ../sass/main.scss */
.column {
  float: left;
  margin-right: .5%;
  padding: 4px;
}

/* line 494, ../sass/main.scss */
.last {
  margin-right: 0 !important;
}

/* line 498, ../sass/main.scss */
.put-at-bottom {
  position: absolute;
  bottom: 10px;
}

/* line 503, ../sass/main.scss */
.tall {
  min-height: 400px;
  padding-bottom: 45px;
}

/* line 508, ../sass/main.scss */
.column-20 {
  width: 20%;
}

/* line 512, ../sass/main.scss */
.column-25 {
  width: 24.5%;
}

/* line 516, ../sass/main.scss */
.column-33 {
  width: 32.5%;
}

/* line 520, ../sass/main.scss */
.column-50 {
  width: 49.5%;
}

/* line 524, ../sass/main.scss */
.column-66 {
  width: 66%;
}

/* line 528, ../sass/main.scss */
.column-75 {
  width: 74.5%;
}

/* line 532, ../sass/main.scss */
.column-100 {
  margin-right: 0 !important;
  width: 100%;
}

/* line 537, ../sass/main.scss */
.non-hidden-overflow {
  overflow: visible;
}

/* line 541, ../sass/main.scss */
.no-margin {
  margin: 0;
}

/* line 545, ../sass/main.scss */
.hidden {
  display: none;
}

/* Default class for an overlay */
/* line 552, ../sass/main.scss */
.ow-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #424242;
  opacity: 0.8;
}

/* Default class for both hidden overlay and modal window */
/* line 565, ../sass/main.scss */
.ow-closed {
  display: none;
}

/* line 569, ../sass/main.scss */
.modal-content {
  position: relative;
  height: 100%;
  width: 100%;
}

/* Default class for modal window */
/* line 576, ../sass/main.scss */
.modal {
  position: fixed;
  z-index: 20;
  height: 50%;
  width: 50%;
  overflow: auto;
  left: 50%;
  top: 50px;
  padding: 1%;
  background-color: #fff;
}
/* line 588, ../sass/main.scss */
.modal h2, .modal .detail-name, .modal .directions-name {
  padding: .3em 0;
  background-color: #afdae8;
}
/* line 592, ../sass/main.scss */
.modal p {
  padding: .3em 0;
  font-size: 1em;
}
/* line 596, ../sass/main.scss */
.modal .button {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;
  margin: 0 auto;
  margin-top: 5%;
  background-color: #77b827;
  color: white;
}
/* line 606, ../sass/main.scss */
.modal .button:hover {
  background-color: #5c8e1e;
}
/* line 610, ../sass/main.scss */
.modal .left {
  text-align: left;
}
/* line 613, ../sass/main.scss */
.modal .center {
  text-align: center;
}
/* line 616, ../sass/main.scss */
.modal .right {
  text-align: right;
}
