$base-color: #BFE1ED; //B0DAE8
$header-color: white;
$accent-color-1: #F5F549;	// yellow
$accent-color-2: #E63740;	// red
$accent-color-3: #60B5D1;	// blue
$accent-color-4: #91D63C;	// green
$accent-color-5: #FC7E00;	// orange

@mixin button-grad ($side, $light, $dark) {
    background: -webkit-linear-gradient($side, $light, $dark);
    background: -moz-linear-gradient($side, $light, $dark);
    background: -o-linear-gradient($side, $light, $dark);
    background: -ms-linear-gradient($side, $light, $dark);
    background: linear-gradient($side, $light, $dark);
}

@mixin border-radius-mixin ($radius) {
    -webkit-border-radius: $radius;
    -khtml-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, b, strong {
	font-weight: bold;
}
h1 {font-size: 1.75em;} // 28px
h2 {font-size: 1.5em;} // 24px
h3 {font-size: 1.125em;} // 18px
h4 {font-size: 0.875em;} // 14px
h5 {font-size: 0.75em;} // 12px
h6 {font-size: 0.625;} // 10px
p {font-size: 0.75em; padding-bottom: 1.125px;} // 12px, 18px

// img {
// 	max-width: 100%;
// }

html, body {
	height: 100%;
	min-height:100%;
	width: 95%;
    margin: 0 auto;

}



body {
    max-width: 960px;   
    margin: 0 auto;
    background-color: $base-color;
    font-size: 16px;
    // font-family: Helvetica;
    font-family: futura-pt, Tahoma, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height:  1.15;
}


////////////////////////////////////////////////////////////
// Header styles
//
header {
	background-color: $header-color;
	//margin-bottom: 2%;
	position: relative;
	h1 {
		padding: .5em 0;
		text-align: center;
	}

}
.about-button {
	position: absolute;
	right: .5%;
	top: 20%;
	a {
		text-decoration: none;
		font-size: 50px;
		color: $accent-color-5;

		&:hover {
			//color: darken($accent-color-5, 7%);
			color: darken($accent-color-4, 10%);
		}
	}
}
.rainbow-line {
	height: 1em;
	padding: 0;
	margin: 0;
}
.accent-color-1 { background-color: $accent-color-1; }
.accent-color-2 { background-color: $accent-color-2; }
.accent-color-3 { background-color: $accent-color-3; }
.accent-color-4 { background-color: $accent-color-4; }
.accent-color-5 { background-color: $accent-color-5; }

.script {
	font-family: 'Leckerli One', 'cursive';
	font-weight: normal;
    font-size: 1.3em;
}
.block {
	font-family: 'Fredericka the Great', 'cursive';
	font-weight: normal;
    font-size: 2em;
}


/////////////////////////////////////////////////
// Styles for the Map Search controls
section.search-map {
	//height: 75%;
	height: 100%;
	width: 100%;
}
.container-map {
    width: 100%;
    height: 100%;
    // height: 55%;
    // min-height: 55%;
    //overflow: visible;
    overflow: auto;

    border: 0;
    clear: both;
}
.search-wrapper {
	//height:100%;
	form {
		//margin-bottom: 2%;
	}
	form > label {
		width: 100%;
		font-weight: bold;
	}
	overflow: auto;
}

.search-ctrl {
	display: table;
    width: 100%;
	//margin-bottom: 1%;
	span {
		display: table-cell;
		width: 100%;
		padding: 0px 5px 0 0;
	}
	#search {
		width: 100%;
	}
	#search-submit {
		display: table-cell;
	}
}
.category-boxes {
	display: block;
	font-size: .8em;
	background-color: white;
	overflow: auto;
} 
.category-label a {
	color: black;
	&:link {
		text-decoration: none;
	}
}
.chkbox-item {
	display: block;
	min-width: 100%;
}



.info-win {
	min-width: 100px;
	min-height: 50px;
	line-height: 1.5em;
	a {
		font-weight: bold;
	}
}
.content-wrapper {
	height: 55%;
	//height: 100%;
	//min-height: 100%;
    position: relative;
}
// .map-content {
// 	height: 100%;
// 	min-height: 100%;
//     position: relative;
// }
.map-wrapper {
	right:0;
    bottom:0;
    top:0;
    left:0;
	overflow:hidden;
    padding-bottom:1%;
    position:absolute;
}
#map {
	height: 100%;
	width: 100%;
	border: 1px solid #555;
}


///////////////////////////////////////////////////
// styles for the search results.
.results-wrapper {
	// margin-top: 1.2%;
	// visibility: hidden;
	display:none;
}

ol li, ul li {
	list-style-position: inside;
	padding: 0.4em 0;
}
ol li { list-style-type: decimal; }
ul li { list-style-type: disc; }

.result-list li {
	border-bottom: 2px $accent-color-5 solid;
	&:first-child {
		border-top: 2px $accent-color-5 solid;
		margin-top: .25em;
	}
	&:hover {
		background-color: $accent-color-3;
	}
}
.result-item {
	position: relative;
	width: 100%;
}
.result-cat {
	display: none;
}
.result-dist {
	position: absolute;
	top: 0; 
	right: 0;
	margin-top: .5em;
	font-size: .9em;
}
.result-get-details {
	position: relative;
	left: 1.3em;
	top: .2em;
	font-size: .9em;
	//border: 1px solid blue;
	display:inline;
}

//////////////////////////////////////////
// Styles for the top of the details page
.details, .directions {
	display: none;
	height: 100%;
}
.detail-name, .directions-name {
	@extend h2; 
}
.detail-address, .detail-phone 
.directions-address, .directions-phone {
	line-height: 1.5em;
}

.detail-page-top {
	height: 40%;
}
.detail-mini-map, .directions-mini-map {
	height: 100%;
	//border: 1px solid red;
}
#mini-map {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	min-width: 100%;
}





//////////////////////////////////////
// For the bottom of the detail page
.detail-page-bottom {
	height: 40%;
}

.detail-tabbed-section {
    margin: 1% 0;
    width: 100%;
    height: 100%;
}
.collapsible-section {
	max-height: 100%;
    margin-top: 6px;
    background-color: white;
    border-radius: 5px;
	
	overflow: auto;

}
.collapsible-section > a {
    display: block;
    background-color: $accent-color-4;
    @include button-grad( top, $accent-color-4, darken($accent-color-4, 15%) );
    // width: 100%;
    padding: .3em .3em;
    border-radius: 5px;
    color: black;
}
.collapsible-section > a:link {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.section-1 div, .section-2 div, .section-3 div {
	display: none;
}
.tab-pane {
    height: 200px;
    padding: 1%;
    // height: 25%;
    // min-height: 25%;
    overflow: auto;
}
.photo {
	float: left;
	margin: 1.5%;
}

.review {
	margin-bottom: 1%;
}

.hours {
	margin: .6% 0;
}
.today {
	font-weight: bold;
}
.day {
	width: 10%;
	text-align: right;
	display: inline-block;
	margin-right: 2%;
}
.times {
	width: 25%;
	text-align: left;
	display: inline-block;
}


/////////////////////////////////////////////
// Styles for the directions page
// .directions {
// 	display: none;
// }

.directions-form-wrapper {
	width: 100%;
}
#directions-form {
	width: 100%;
	label {
		width: 100%;
		font-weight: bold;
	}
}

.directions-input-ctrls {
	display:table;

	span {
		display: table-cell;
		width: 100%;
		padding: 0 10px 0 0;
	}
	#directions-start {
		width: 100%;
	}
	#directions-submit {
		display: table-cell;
	}

}

.directions-text-panel {
	background-color: white;
}

.directions-wrapper {
	height: 100%;
	//border: 1px solid blue;
}

#directions-map {
	margin: 0 auto;
	height: 80%;
	width: 100%;
	// min-width: 100%;

	// height: 500px;
	// width: 500px;
}

.directions-container {
	@extend .container;
	height: 100%;
}





/////////////////////////////////////////
// multi purpose components
.button {
	margin: 1em 0;
	& a { 
		background-color: $accent-color-4;
		@include button-grad( top, $accent-color-4, darken($accent-color-4, 15%) );
		@include border-radius-mixin (2em);
		text-decoration: none;
		padding: .3em .5em;
		color: black;
		font-weight: bold;
	}
}

.arrow-right {
	display: inline-block;
	border-color: transparent black;
	border-style: solid;
    border-width: .4em 0 .4em 0.6928em;
	height: 0px;
	width: 0px;
    margin: 0 5px 0 5px;
}
.arrow-down {
	display: inline-block;
	border-color: black transparent;
	border-style: solid;
    border-width: 0.6928em .4em 0 .4em;
	height: 0px;
	width: 0px;
    margin: 0 4px 0 5px;
}

span.stars, span.stars span {
    display: block;
    background: url(../images/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}


/////////////////////////////////////////
// For the GRID SYSTEM 
.container {
    width: 100%;
    // height: 100%;
    //overflow: hidden;
    border: 0;
    clear: both;
}

.column {
    float: left;
    margin-right: .5%;
    padding: 4px;
}

.last {
    margin-right: 0 !important;
}

.put-at-bottom {
    position: absolute;
    bottom: 10px;
}

.tall {
    min-height: 400px;
    padding-bottom: 45px;
}

.column-20 {
	width: 20%;
}

.column-25 {
    width: 24.5%;   
}

.column-33 {
    width: 32.5%;   
}

.column-50 {
    width: 49.5%;
}

.column-66 {
    width: 66%;
}

.column-75 {
    width: 74.5%;
}

.column-100 {
    margin-right: 0 !important;
    width: 100%;
}

.non-hidden-overflow {
    overflow: visible; 
}

.no-margin {
	margin: 0;
}

.hidden {
	display: none;
}

///////////////////////////////////////////////
// For the modal dialog box
/* Default class for an overlay */
.ow-overlay {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	background: #424242;
	opacity: 0.8;
}

/* Default class for both hidden overlay and modal window */
.ow-closed {
	display: none;
}

.modal-content {
	position: relative;
	height: 100%;
	width: 100%;
}

/* Default class for modal window */
.modal {

	position: fixed;
	z-index: 20;
	height: 50%;
	width: 50%;
	overflow: auto;
	left: 50%;
	top: 50px;
	padding: 1%;
	background-color: #fff;

	h2 { 
		padding: .3em 0;
		background-color: lighten($accent-color-3, 20%);
	}
	p {
		padding: .3em 0;
		font-size: 1em;
	}
	.button {
		display:block;
		text-decoration: none;
		text-align: center;
		font-size: 1.5em;
		margin: 0 auto;
		margin-top: 5%;
		
		background-color: darken($accent-color-4, 10%);
		color: white;
		&:hover {
			background-color: darken($accent-color-4, 20%);
		}
	}
	.left {
	text-align: left;
	}
	.center {
		text-align: center;
	}
	.right {
		text-align: right;
	}
}
